# The production .env sits in the EC2 machine.
# Copy over this file to use in development and populate with local or dev credentials.
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Uncomment this to send emails locally
# SENDGRID_API_KEY="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"